<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <link rel="stylesheet" href="./styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-storage.js"></script>
  <script>
    var firebaseConfig = {
      apiKey: "AIzaSyBv8smcSq6KUFImtYKIAWWZ0PgE3FDqS3s",
      authDomain: "dev-roomlelo.firebaseapp.com",
      databaseURL: "https://dev-roomlelo.firebaseio.com",
      projectId: "dev-roomlelo",
      storageBucket: "dev-roomlelo.appspot.com",
      messagingSenderId: "450187201766",
      appId: "1:450187201766:web:9a14dcd60b4b5101e93f27"
    };
    firebase.initializeApp(firebaseConfig);

  </script>
</head>
<body>

  <button id="modal-btn" style="display: none;"> click me</button>
  <div class="modal">
    <div class="modal-content" style="z-index: 1000 !important;">
      <span class="close-btn" id="close_modal" style="cursor: pointer;">&times;</span>
      <form onsubmit="return false">
        <p style="margin-bottom: 5px;">Owner ID</p>
        <select id="ownerId" style="border:1px solid green;width:75%;height:36px;padding-left: 5px" required>
          <!-- data from db -->
        </select>

        <br>
        <p  style="margin-bottom: 5px;">Property ID</p>
        <select id="propId" style="border:1px solid green;width:75%;height:36px;padding-left: 5px" required>
          <!-- data from db -->
        </select>
        <br>
        <br>
        <button class="btn btn-danger" type="submit" id="submit_user">Submit</button>
      </form>
    </div>
  </div>


  <i id="back_btn" onclick="back()" style="position: absolute;top:7%;left:7%;font-size: 30px;display: none;" class="fa fa-arrow-circle-left" aria-hidden="true"></i>





  <div id="app">
    <div id="login">
      <div id="description">
        <h1>Login</h1>
        <p>Beware three(3) wrong attemps may block this portal for 24 hr. </p>
      </div>
      <div id="form">
        <form @submit.prevent="doLogin">
          <label for="email">Email</label>
          <input type="text" id="email" v-model="email" placeholder="me@gmail.com" autocomplete="off">

          <label for="password">Password</label>&nbsp;
          <i class="fas" :class="[passwordIcon]" @click="hidePassword = !hidePassword"></i>
          <input :type="passwordType" id="password" v-model="password" placeholder="**********">

          <button  type="submit">Log in</button>
        </form>
      </div>
    </div>




    <div id="userDiv" style="display: none;background-color: #e2e2e5;height:100%;z-index:-1;">
      <ul style="margin: 0 auto;padding-top:30px;display: block;text-align: center;">
        <li style="display: inline;padding-right: 20px;"><button id="users_btn" onclick="showUsers()" style="background-color:white;border:0;outline:0;font-weight: 700;font-size: 18px;width:150px;height:40px;">Users</button></li>
        <li style="display: inline;padding-left: 20px;"><button id="request_btn" onclick="showRequests()" style="background-color:rgba(0,0,0,0.2);border:0;outline:0;font-weight: 700;font-size: 18px;width:150px;height:40px;">Requests</button></li>
      </ul>

      <div id="userList" style="width:80%;margin:0px auto;">
        <!-- from db -->
      </div>

      <div id="requestDiv" style="display: none;background-color: #e2e2e5;height:100%;z-index:-1;">
       <ul style="margin: 40px auto;padding-top:30px;display: block;text-align: center;">
        <li style="list-style: none;margin-bottom:10px; "><button id="mainta_btn" onclick="fetchData()"  style="background-color:white;border:0;outline:0;font-weight: 700;font-size: 18px;min-width:150px;height:40px;">Maintenance Requests</button></li>
        <li style="list-style: none;margin-top:10px "><button id="exit_req_btn" onclick="showExitRequests()"  style="background-color:rgba(0,0,0,0.2);border:0;outline:0;font-weight: 700;font-size: 18px;width:150px;height:40px;">Exit Requests</button></li>
      </ul>

      <div id="status_div">
        <!-- data from db -->
      </div>

      <div id="exitRequest">
        <!-- data from db -->
      </div>


    </div>





  </div>






  <div id="rent_div" style="display: none;width:85%;margin:100px auto;">
   <table class="table ">
    <thead>
      <tr>
        <th>
          <button id="back_btn" onclick="document.getElementById('modal-btn').click()" style="font-size: 20px;" class="btn btn-info" aria-hidden="true">Set Due Amount</button>
        </th>
      </tr>
      <tr>
        <th  style="text-align: center;"><button onclick="fillAmount()" id="payRent" class="btn btn-dark" type=""></button></th>
      </tr>
    </thead>
    <tbody style="">
      <tr>
        <td id="amountfill"  style="text-align: center; display: none;"><input style="padding-left: 5px;" id="amountPaid" type="number" required placeholder="Enter Amount">
          <br><br>
          <select id="paymedium" >
            <option value="cash">Cash</option>
            <option value="online">Digital</option>
          </select>
          <br><br>
          <button type="" onclick="payRent()" class="btn btn-danger">Submit</button>
        </td>
      </tr>

      <tr id="paidData">

      </tr>
    </tbody>
  </table>
</div>



















</div>




<script>
  const vm = new Vue({
    el: '#app',
    data: {
      email: '',
      password: '',
      hidePassword: true
    },
    computed: {
      passwordType() {
        return this.hidePassword ? 'password' : 'text'
      },
      passwordIcon() {
        return this.hidePassword ? 'fa-eye' : 'fa-eye-slash'
      }
    },
    methods: {
      doLogin() {


        if(this.email==='me@gmail.com' && this.password === '123'){
          alert('Logged in');
        }
        else
            // alert('False Attemp');
          document.getElementById('userDiv').style.display = 'block';
          document.getElementById('login').style.display = 'none';
          document.getElementById('users_btn').click();
        }
      }
    })
  </script>
  <script src="script.js"></script>
</body>
</html> 